<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.ohyoyo.domain.ProductDTO" alias="ProductDTO"/>
		<typeAlias type="com.ohyoyo.domain.MemberDTO" alias="MemberDTO"/>
    </typeAliases>
</configuration>