<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohyoyo.persistence.BoardDAO">
	<select id="selectList" resultType="BoardDTO">
		<include refid="paging_header"/>
		SELECT bno, type, title, writer, name, updatedate, viewcnt, replycnt, goodcnt, show 
		FROM tbl_board b, tbl_member m
		<include refid="seach"/>
		<if test="map.sort_option == 'new'">
			ORDER BY bno DESC
		</if>
		<if test="map.sort_option == 'cnt'">
			ORDER BY b.viewcnt DESC
		</if>
		<if test="map.sort_option == 'reply'">
			ORDER BY b.replycnt DESC
		</if>
		<if test="map.sort_option == 'good'">
			ORDER BY b.goodcnt DESC
		</if>
		<include refid="paging_footer"/>
	</select>
	<sql id="paging_header">
		SELECT *
		FROM (
				SELECT rownum AS rnum, A.*
				FROM (
	</sql>
	<sql id="paging_footer">
			) A
		) WHERE rnum BETWEEN #{map.start} AND #{map.end}
	</sql>
	<select id="countArticle" resultType="Integer">
		SELECT COUNT(*) 
		FROM tbl_board b, tbl_member m
		<include refid="seach"/>
	</select>
	<sql id="seach">
		 <choose>
	 		<when test="map.search_option != 'all'">
	 			WHERE b.writer = m.id 
			  		AND b.show = 'y' 
			  		AND ${map.search_option} LIKE #{map.keyword}
	 		</when>
	 		<otherwise>
	 			WHERE b.writer = m.id 
			  		AND b.show = 'y' 
			  		AND (title LIKE #{map.keyword}
			  		  	 OR content LIKE #{map.keyword}
			  			 OR name LIKE #{map.keyword})
	 		</otherwise>
	 	</choose>
	</sql>
	<select id="selectView" resultType="BoardDTO">
		SELECT b.*, m.name 
		FROM tbl_board b, tbl_member m
		WHERE b.writer = m.id AND bno = #{bno}
	</select>
	<update id="increaseViewCnt">
		UPDATE tbl_board
		SET viewcnt = viewcnt + 1
		WHERE bno = #{bno}
	</update>
	<update id="deleteBoard">
		UPDATE tbl_board
		SET show = 'n'
		WHERE bno = #{bno}
	</update>
	<update id="replyCntUpdate">
		UPDATE tbl_board
		<if test="map.cnt == 'plus'">
		   SET replycnt = replycnt +1
		</if>
		<if test="map.cnt == 'minus'">
		   SET replycnt = replycnt -1
		</if>
		 WHERE bno = #{map.bno}
	</update>
 	<insert id="writer">
		INSERT INTO tbl_board(bno, type, title, content, writer)
		VALUES(seq_board.NEXTVAL,#{type},#{title},#{content},#{writer})
	</insert>
	<update id="update">
		UPDATE tbl_board
		SET type = #{type}, title = #{title}, content = #{content}, updatedate = SYSDATE
		WHERE bno = #{bno}
	</update>
</mapper>